pipeline/PL_area.json
{
	"name": "PL_area",
	"properties": {
		"activities": [
			{
				"name": "length",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "length",
					"value": "5"
				}
			},
			{
				"name": "breadth",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "breadth",
					"value": "10"
				}
			},
			{
				"name": "area",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "length",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "breadth",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "area",
					"value": {
						"value": "@string(mul(int(variables('breadth')),int(variables('length'))))\n\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"length": {
				"type": "String",
				"defaultValue": "5"
			},
			"breadth": {
				"type": "String"
			},
			"area": {
				"type": "String"
			}
		},
		"annotations": []
	}
}